.container { 
  display:flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.key {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 0px;
  background: #ddd;
  outline: none;
  margin: 2px;
  flex: 1;
  min-width: 80px;
}
.key:active {
  background: #ccc;

}

.key-container {
  display: flex;
  flex-wrap: wrap;


}

.key-display {

  padding: 10px 10px;
  text-align: right;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 0px;
  outline: none;
  margin: 2px;
  flex: 1;
  min-width: 80px;
}